@model TourBookingPageViewModel
@using Models.Helper

@{
    Model.Form ??= new TourReservationInputModel();
    Model.Form.Language ??= Model.Tour.LanguageUsed;
}

@await Html.PartialAsync("~/Views/Home/Partials/_TourHero.cshtml", Model)

<section class="tour-overview section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                @await Html.PartialAsync("~/Views/Home/Partials/_TourOverview.cshtml", Model)
            </div>
            <div class="col-lg-4">
                @await Html.PartialAsync("~/Views/Home/Partials/_TourBookingCard.cshtml", Model)
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/pages/tour-booking.js" asp-append-version="true"></script>
}
